
@font-face {
  font-family: 'groteskLtCn';
  src: url('../fonts/akzidenzgroteskbe-ltcn.eot');
  src: url('../fonts/akzidenzgroteskbe-ltcn.eot?#iefix') format('embedded-opentype'), url('../fonts/akzidenzgroteskbe-ltcn.woff') format('woff'), url('../fonts/akzidenzgroteskbe-ltcn.ttf') format('truetype'), url('../fonts/akzidenzgroteskbe-ltcn.svg#groteskLtCn') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'groteskregular';
  src: url('../fonts/akzidenz-grotesk-regular.eot');
  src: url('../fonts/akzidenz-grotesk-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/akzidenz-grotesk-regular.woff') format('woff'), url('../fonts/akzidenz-grotesk-regular.ttf') format('truetype'), url('../fonts/akzidenz-grotesk-regular.svg#groteskregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'groteskregular';
  src: url('../fonts/akzidenzgroteskbe-lightregular.eot');
  src: url('../fonts/akzidenzgroteskbe-lightregular.eot?#iefix') format('embedded-opentype'), url('../fonts/akzidenzgroteskbe-lightregular.woff') format('woff'), url('../fonts/akzidenzgroteskbe-lightregular.ttf') format('truetype'), url('../fonts/akzidenzgroteskbe-lightregular.svg#groteskregular') format('svg');
  font-weight: 300;
  font-style: normal;
}

/* grey */

* {
	/*
	margin:0;
	padding:0;
	*/
}

body {
	color: #444;
	font-family: 'groteskregular';
	margin:0;
	padding:1em;
	font-size: 16px;
	line-height: 2em;
}
.no-scroll {
	overflow: hidden;
}
.header {
}
.header,
.page .section .strip .nav .right.arrow {
	border-bottom: 1px solid #444;
}
.header .menu .item,
.page .section .strip .nav .right.arrow {
	border-right: 1px solid #444;	
}
.header .menu .item:last-child {
	border-right:0;
}

.header .menu .item:hover,
 .header .menu .item.selected {
	background-color: #444;
	color:white;
}

h1 {
	font-size: 2.1em;
	line-height: 1em;
	margin-top:1.5em;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.4em;
	line-height: 1.35em;
	margin-bottom: .75em;
	margin-top: .75em;
}

h1,h2 {
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: .1em;
}

.header {
	display: table;
	/* width: 100%; */
	/*
	table-layout: fixed;
	*/
}

.lightbox {
	position: fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-color: rgba(40,40,40,.8);
	z-index: 10;
	visibility: hidden;
}

.lightbox .page .clickable-back {
	position: absolute;
	top:0;left:0;right:0;bottom:0;
} 


.lightbox.lightbox-on {
	visibility: visible;
}

.lightbox .page {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  overflow: hidden;
}
.lightbox .page .image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: auto;
  width: auto;
  max-width: 900px;
  max-height: 100%;
  z-index: 10;
}

.lightbox .page .legend {
	text-align: center;
	z-index: 15;
	color:white;
	position: absolute;
	margin:auto;
	left:0;
	right:0;
	bottom:0;
	top:auto;
}

.lightbox .page.prev {
	left:-100%;
}

.lightbox .page.next {
	left:100%;
}


.header .menu {
	display: table-row;
	font-size: .82em;
	font-weight: lighter;
}

.header .menu .item {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: .4em;
	line-height: 1.6em;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.header .menu .title {
	height: 1.3em;
}

.page .section .strip {
	position: relative;
}

.page .section .strip .thumbs {
	max-height: 220px;
	overflow: hidden;
	margin-right: 60px; /* make some place for the right arrow */
	/* not necessary width: 100%; */
}

.page .section .strip .thumbs .item {
	float:left;
	margin-right: 16px;
	margin-bottom: 8px;
	line-height: 0;
}

.page .section .strip .thumbs a.item {
 	text-decoration: inherit;
 	color:inherit;
 	display: block;
 }

.page .section .strip .thumbs .item .legend {
	font-size: .9em;
	line-height: 1.35em;
}

.page .section .strip .thumbs .item .legend .title {
	text-transform: uppercase;
}

.page .section .strip .thumbs .thumb {
	margin-bottom: 8px;
	height: 170px;
}

.page .section .strip .nav {

}

.page .section .strip .nav .right.arrow {
	width:60px;
	height:60px;
	right: 25px;
	top:auto;
	bottom:95px;
	margin-top:0;
	margin-bottom:0;
	margin-right: 0px;
	position: absolute;
	transform:rotate(-45deg);
}


.lightbox .nav {
	overflow: hidden;
}

.lightbox .nav .arrow {
	width:60px;
	height:60px;
	position: absolute;
	top:48%;
	bottom:0;
	right:auto;
	left:auto;
	margin:0;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

.lightbox .nav .right.arrow {
	transform:rotate(-45deg);
	right: 37px;
}

.lightbox .nav .left.arrow {
	transform:rotate(135deg);
	left:37px;
}